[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
numpy = "*"
mat73 = "*"
jupyter = "*"
ipykernel = "*"
pymatreader = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
