[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
scipy = "*"
numpy = "*"
mat73 = "*"
jupyter = "*"
ipykernel = "*"
pymatreader = "*"
matplotlib = "*"
opencv-contrib-python = "*"
opencv-python = "*"
traitlets = "*"
ipython = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
