[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"

[packages]
scipy = "==1.4.1"
numpy = "==1.18.5"
mat73 = "*"
jupyter = "==1.0.0"
ipykernel = "==4.10.1"
pymatreader = "*"
matplotlib = "==3.2.2"
opencv-contrib-python = "==4.1.2.30"
opencv-python = "==4.1.2.30"
traitlets = "==4.3.2"
ipython = "==5.5.0"
torch = "==1.7.0"
torchvision = "==0.8.1"
tqdm = "==4.41.1"
pytorch-lightning = "*"
argparse = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
